body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

li {
  padding: 1px;
}

span {
  margin-left: 5px;
}

.roguelike {
  display: grid;
  grid-template-columns: 320px auto 320px;
  font-family: "Montserrat", cursive;
}

.menu {
  width: 320px;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 5px;
  color: #EBEDEF;
  background: #2D2C2A;
  margin-top: 4%;
  margin-bottom: 2%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
}

.story {
  font-size: 15px;
  text-align: justify;
  margin: 10px;
}

.title {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 38px;
  padding-left: 15px;
}

.text-center {
  text-align: center;
}

.message {
  width : 300px;
  height : 72px;
  margin : 10px 0px;
  padding : 5px;
  border: 1px solid lightgray;
}

.hit {
  background-color: #B22222;
  color : lightgray;
  animation-duration : 1s;
  animation-fill-mode: both;
  height: inherit;
}

@@keyframes flash {
  0%, 50%, 100% {
    opacity : 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.alert {
  color : lightgray;
  background-color : lighten(#B22222, 25%);
  height: inherit;
}

.inform {
  color : black;
  background-color : lightgray;
  height: inherit;
}

.good {
  color : black;
  background-color: springgreen;
  height: inherit;
}

.map {
  line-height: 0;
  width: 600px;
  box-shadow: 2px 2px 10px black;
  margin: 6% auto;
}

.win {
  padding: 50px;
  width: 500px;
  box-shadow: 2px 2px 10px black;
  height: 500px;
  margin: 6% auto;
}

.lose {
  padding: 50px;
  width: 500px;
  box-shadow: 2px 2px 10px black;
  height: 500px;
  margin: 6% auto;
}

.heading {
  font-size: 100px;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
}

.paragraph {
  font-size : 40px;
  text-align: justify;
}

.cell {
  display: inline-block;
  width: 15px;
  height: 12px;
  padding-top: 3px;
}

.player {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9300C5;
  margin: auto;
}

.health {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
  margin: auto;
}

.weapon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  margin: auto;
}

.villain {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: brown;
  margin: auto;
}

.walkable {
  background: lightblue;
}

.unwalkable {
  background: gray;
}

.dark {
  background: #EBEDEF;
}
